<div fxLayoutAlign="center center" class="login">
    <mat-card class="login-card">
        <mat-card-header class="login-card-header">Login</mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label for="username">Username</mat-label>
                    <input matInput type="text" placeholder="Username" formControlName="username" />
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" />
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <br>
                <button [disabled]="loading" mat-stroked-button color="primary">Primary</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>